div#titlearea table {
  border-spacing: 0;
}

div#titlearea table td {
  width: 100%;
  background-color: #001314;    /* The background color of aistatfultask_arc.png */
  text-align: left;
}

p#html_header1 {
  font-size: 25px;
  margin-bottom: 4px;
  color: #feffff;
}

p#html_header1 span#name {
  color: #674333;               /* The brownish color of aistatfultask_arc.png */
}

p#html_header2 {
  margin-top: 0px;
  color: #b1fcfc;               /* The light-blue color of aistatfultask_arc.png */
}

.projectname {
  color: #674333;
}

p#dothis span {
  font-style: normal;
}

div#mainpage {
  width: 632px;;
  margin-left: 150px;
}

div.todothis {
  white-space: pre;
  font-size: 18px;
  font-style: italic;
  margin-left: 50px;
}

table.implement_table {
  border-spacing: 0;
  margin-left: 20px;
}

table.implement_table td.item {
  padding-right: 10px;
}

a#details + h2.groupheader {
  display:none;
}

div.textblock {
  border-bottom: 1px solid #879ECB;
  width: 100%;
  max-width: 782px;             /* The width as used in div#mainpage + left + right margin of div.textblock p */
}

div.textblock p,h3 {
  margin-left: 75px;            /* Left + right margin = left margin of div#mainpage */
  margin-right: 75px;
}
